<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="zoomKey" value="" />
		<add key="zoomSecret" value="" />
		<add key="azureSpeechRegion" value=""/>
		<add key="azureSpeechKey" value=""/>
		<add key="soundOutputDevice" value=""/>
	</appSettings>
</configuration>